<div ng-if='client'>
	<ol class="breadcrumb">
		<li><a href="#/clients/">Clients</a></li>
		<li class="active">{{ clientId }}</li>

		<span class="pull-right">
			<form class="form-inline">
			<abbr title="Timeout used to send request"><a href="https://github.com/eclipse/leshan/wiki/Request-Timeout" target="_blank"=>Response Timeout</a></abbr>
			<div class="btn-group" dropdown is-open="timeout.status.isopen">
				<button type="button" class="btn btn-xs btn-default dropdown-toggle dropdown-menu-contentformat" dropdown-toggle ng-disabled="disabled">
					{{settings.timeout.format}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-contentformat" role="menu">
					<li><a ng-click="settings.timeout.value=5;settings.timeout.format='5s'">5s</a></li>
					<li><a ng-click="settings.timeout.value=300;settings.timeout.format='5min'">5min</a></li>
					<li><a ng-click="settings.timeout.value=900;settings.timeout.format='15min'">15min</a></li>
					<li><a ng-click="settings.timeout.value=1800;settings.timeout.format='30min'">30min</a></li>
					<li><a ng-click="settings.timeout.value=undefined;settings.timeout.format='No'">No</a></li>
				</ul>
			</div>
			</form>
		</span>
	</ol>

	<accordion close-others=false>
		<object ng-repeat='object in objects' object='object' settings='settings'></object>
	</accordion>

</div>

<div ng-if='error'>
	<div class="alert alert-danger">{{error}}</div>
</div>

<div ng-if='deregistered'>
	<h4>Client <b>{{clientId}}</b> is no more registered.</h4>
</div>

<!-- Write modal -->
<div class="modal bs-example-modal-sm" id="writeModal" tabindex="-1" role="dialog"
	aria-labelledby="writeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="writeModalLabel"></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Value</label>
						<div class="col-sm-10">
							<input class="form-control" id="writeInputValue">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="writeSubmit">Update</button>
			</div>
		</div>
	</div>
</div>