<div class="demo_container">
	<h1 align="center">Solution de maintenance et de diagnostic à distance</h1>
	<img src="img/diagnostic/diapo1.svg" width="100%"></img>
	<img src="img/diagnostic/diapo2.svg" width="100%"></img>
	<div class="demo_contact_form">
		<h2>Contactez-nous</h2>
		<div class="hubspot_contact_form">
			<script type="text/javascript-lazy">
				$.getScript("//js.hsforms.net/forms/shell.js", function() {
		  			hbspt.forms.create({
						region: "na1",
						portalId: "8647548",
						formId: "be9237d3-4762-42da-ad35-cb48a34f7276"
					});
				});	
			</script>
		</div>
	</div>
</div>
