<div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div style="width: 150px; margin-left: auto; margin-right: auto;">
					<ng-dial-gauge
						scale-min="{{resource.def.range_min}}"
						scale-max="{{resource.def.range_max}}"
						border-color="grey"
						border-width="0"
						ng-model="gauge_bat"
						bar-color="red"
						bar-width="10"
						value="{{display(resource, 0)}}"
						units="{{resource.def.units}}"
						angle="270"
						rotate="180"
						line-cap="round"
						scale-minor-width = "1"
						scale-major-width = "2"></ng-dial-gauge>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1" class="btn-group"><span ng-if="resource.observed" class="glyphicon glyphicon-eye-open"></span></div>
				<resource-observe class="col-md-10" resource='resource' parent='parent' settings='settings'></resource-observe>
			</div>
		</div>
		<div class="col-md-9">
			<linear-graph></linear-graph>
		</div>
	</div>
</div>
	