<div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-9" style="width: 150px; margin-left: auto; margin-right: auto;margin-bottom: 15px;">
					<ng-odometer
						value="{{display(resource, 0)}}"
						options="{theme: 'car', format: '( ddd).dd', duration: 1000}"
						style="float:right">
					</ng-odometer>
				</div>
				<div ng-if="col-md-2" class="resource-units">{{resource.def.units}}</div>
			</div>
			<div class="row">
				<div class="col-md-1" class="btn-group"><span ng-if="resource.observed" class="glyphicon glyphicon-eye-open"></span></div>
				<resource-observe class="col-md-10" resource='resource' parent='parent' settings='settings'></resource-observe>
			</div>
		</div>
		<div class="col-md-9">
			<linear-graph></linear-graph>
		</div>
	</div>
</div>
	