<div class="object">
	<accordion-group is-open="status.open">
		<accordion-heading>
			<div class="row">
				<div class="col-md-4 object-name">{{object.name}} <span ng-show="object.unknown">(model unknown)</span></div>
				<div class="col-md-8 text-muted small">
					<i class="pull-right glyphicon"
						ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</div>
			</div>
		</accordion-heading>
		<div class = "row" ng-show="object.instancetype == 'multiple'">
			<div class="col-md-6"></div>
			<div class="col-md-6"></div>
		</div>
		<instance ng-repeat='instance in object.instances' instance='instance' parent='object' settings='settings'></instance>
	</accordion-group>
</div>