<div>
	<div class="row resource-single-line">
		<div class="col-md-4 resource-name">{{resource.def.name}}</div>
		<div class="col-md-1 text-muted small"><span ng-if="resource.observed" class="glyphicon glyphicon-eye-open"></span></div>
		<div class="col-md-3"><resource-observe resource='resource' parent='parent' settings='settings'></resource-observe></div>
		<div ng-class="{
				'col-md-2': true,
				'resource-value': true,
				'resource-value-supposed': resource.valuesupposed}" ">
				<span tooltip="{{resource.def.description}}" tooltip-animation="false">{{display(resource)}}</span>
		</div>
		<div class="col-md-1 resource-units">{{resource.def.units}}</div>
		<div class="col-md-1"></div>
	</div>
</div>
