# systemctl enable /var/leshan/demo/leshan_demo.service
# systemctl start leshan_demo
# systemctl status leshan_demo

[Unit]
Description=Leshan server

[Service]
User=root
WorkingDirectory=/var/leshan/demo
ExecStart=/bin/java -jar /var/leshan/demo/leshan-server-jar-with-dependencies.jar -m /var/leshan/models

SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target